html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-image: url('./images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111111;
  }

#links {
    float: right;

}
h1{
    text-align: center;
    font-family: sans-serif;
    font-size: 2em;
    padding: 20px;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,106,232,1) 100%);
    color: rgb(255, 255, 255);
}
h1:hover {
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #181cff, 0 0 30px #1842ff, 0 0 40px #187cff, 0 0 55px #1884ff, 0 0 75px #18c9ff, 2px -23px 2px rgba(37,56,206,0);
}
#nav {
    opacity: 0.75;
}
#photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 1px solid rgb(2, 62, 150);
}

#photo:hover{
    box-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px  #181cff, 0 0 30px #1842ff, 0 0 40px #187cff, 0 0 55px #1884ff, 0 0 75px #18c9ff, 2px -23px 2px rgba(37,56,206,0);
    animation: colorcycle 5s;
}

#git {
    text-decoration: none;
    color: rgb(97, 151, 202);

}
#about{
    text-indent: 30px;
    text-align: left;
    background-color:  #333333;
    color:lightgoldenrodyellow;
    width: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 5px rgb(2, 61, 150);
    font-size: 18px;
    opacity: 0.75;
}
#quote{
    background-color: none;
    margin-top: 200px;
    color:lightgoldenrodyellow;
    text-align: center;
}
div.form {
    margin:200px;
    display: block;
    text-align: center;
}
form {
    color: white;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
textarea {
    width: 300px;
    height: 300px;
}




@keyframes colorcycle{
    0% {
        filter:hue-rotate(0deg)
    }
    25% {
        filter:hue-rotate(90deg)
    }
    50% {
        filter:hue-rotate(180deg)
    }
    75% {
        filter:hue-rotate(270deg)
    }
    100% {
        filter:hue-rotate(360deg)
    }

}