html, body, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-image: url('./images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h2 {
    color: blanchedalmond;
    text-align: center;
    margin: 5% 30% 3%;
    font-size: 2em;
    border-radius: 20px;
    background-color: black;
    padding: 0.5%;
    opacity: 0.5;
}

nav {
    display: flexbox;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;    
}
.subnav {
    background-color: black;
    display: none;
}
.subnav2 {
    display: none;
    background-color: black;
    width: 150px;
}
.subnavbtn .subnavbtn2 .subnavbtn3 a{
    border: none;
    background-color: black;
    color: white;
    padding: 300px;
}

.content {
    background-color: black;
    position: absolute;
    display: none;
    flex-direction: row;
    
}
.content a {
    display: block;
}
.content a:hover  {
    background: rgb(32,106,244);
    background: linear-gradient(90deg, rgba(32,106,244,1) 15%, rgba(0,0,0,1) 100%);
}
.minicontainer:hover .subnav{
    display: block;
    position: absolute;
    margin-left: 150px;
    margin-top: -65px;
}

.minicontainer2:hover .subnav2{
    display: block;
    position: absolute;
    margin-left: 150px;
    margin-top: -112px;
    z-index: 1;
}
.btn {
    background: rgb(32,106,244);
    background: linear-gradient(90deg, rgba(32,106,244,1) 15%, rgba(0,0,0,1) 100%);
    height: 50px;
    width: 90px;
    display: inline-block;
    border: none;
}
.container:hover .content {
    display: block;
}
  
  li {
    float: left;
    display: inline-flex;

  }
  
  a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #445eee;
  }
    


    
#links {
    float: right;

}
h1{
    text-align: center;
    font-family: sans-serif;
    font-size: 2em;
    padding: 20px;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,1) 0%, rgba(0,106,232,1) 100%);
    color: rgb(240, 240, 240);
    opacity: 0.6;
}
h1:hover {
    text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #181cff, 0 0 30px #1842ff, 0 0 40px #187cff, 0 0 55px #1884ff, 0 0 75px #18c9ff, 2px -23px 2px rgba(37,56,206,0);
}
#nav {
   
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(75,75,75,1) 50%, rgba(0,0,0,1) 100%);

}
#photo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    margin-top: 30px;
    margin-bottom: 20px;
    border-radius: 50%;
    border: 1px solid rgb(2, 62, 150);
}

#photo:hover{
    box-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px  #181cff, 0 0 30px #1842ff, 0 0 40px #187cff, 0 0 55px #1884ff, 0 0 75px #18c9ff, 2px -23px 2px rgba(37,56,206,0);
    animation: colorcycle 5s;
}

#git {
    text-decoration: none;
    color: rgb(97, 151, 202);

}
.about{
    text-indent: 30px;
    text-align: left;
    background-color:  #333333;
    color:lightgoldenrodyellow;
    width: 70%;
    display: block;
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 5px rgb(2, 61, 150);
    font-size: 18px;
    opacity: 0.75;
    box-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px  #181cff, 0 0 30px #1842ff, 0 0 40px #187cff, 0 0 55px #1884ff, 0 0 75px #18c9ff, 2px -23px 2px rgba(37,56,206,0);
    z-index: -1;
    position: relative;    
}

#about {
    z-index: 1;
}

.quote{
    background-color: none;
    margin-top: 70px;
    color:lightgoldenrodyellow;
    text-align: center;
    font-size: 2em;
}

.imagesProjects {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
}

.projLink {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    margin-bottom: 5%;
    padding: 1%;
    background-color: black;
    color:blanchedalmond;
    opacity: 0.8;

}




@keyframes colorcycle{
    0% {
        filter:hue-rotate(0deg)
    }
    25% {
        filter:hue-rotate(90deg)
    }
    50% {
        filter:hue-rotate(180deg)
    }
    75% {
        filter:hue-rotate(270deg)
    }
    100% {
        filter:hue-rotate(360deg)
    }

}

