html {
    margin: 0;
    padding: 0;
    
}


table {
    border:3px solid black;
    background-size: cover;
    margin-bottom: auto;
    margin-top: 350px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 10px;
    border-radius: 10px;
    transform: scale(4,4);

}

.mainPage {
    text-align: center;
    margin-top: 400px;
    
}

body {
    
    background-image: url(cockpit.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
}

th {
    
    color: greenyellow;
    background-color: darkcyan 0.4;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
}

a{

    color: #FFFFFF;
    font-size: x-large;
    text-shadow: 0 -1px 4px #FFF, 0 -2px 10px #ff0, 0 -10px 20px #ff8000, 0 -18px 40px #F00;
    
}